<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcoem to cryptoApp</title>
</head>
<body>
    <H1>Welcoem to cryptoApp</H1>

    <a href="/github/authorize" style="font-size: 20px; justify-content: center; align-items: center; display: flex; height: 50px; width: 200px; border-radius: 5px; border:2px solid black; background-color: aquamarine; text-decoration: none;">Connect with gitHub</a>
</body>
</html>